html, body
{margin:0;
padding:0;
height: 100%;
overflow: hidden
}

.box img {
    position:absolute;
    height:80%;
    width:100%;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 16s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 16s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#house2 {
    -webkit-animation-delay: -12s;
}

#house3 {
   -webkit-animation-delay: -8s;
}

#house4 {
   -webkit-animation-delay: -4.5s;
}

